.groupContent.pageCT{
    display: flex;
    flex-direction: column;
}
.Box-item-news {
    width: 95%;
    height: auto;
    border-radius: 59px;
    padding: 20px 40px;
    display: flex;
    background: rgba(255, 255, 255, 0.1); 
    border: 0.75px solid #FFFFFF;
}
.wrapBoxNews{
    width: 100%;
    display: flex;
    justify-content: center;
}

.swiper {
    width: 100%;
    height: auto;
    padding-bottom: 100px !important;
}
.swiper-button-prev, .swiper-button-next {
    top: 45% !important;
    transform: translateY(-50%) !important;
  }
  .swiper-button-prev{
    left: -2px !important;
  }
  .swiper-button-next{
    right: -2px !important;
  }

.swiper-button-next, .swiper-button-prev{
    color: var(--primary-color) !important;
}
.swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
    border: 1px solid var(--primary-color); 
    background: inherit; 
}

.swiper-pagination-bullet-active {
    background: var(--primary-color) !important; 
}
.box-lg-news {
    width: 40%;
    position: relative;
    margin-right: 20px;
}
.box-lg-news::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1;
    border-radius: 24px;
}

.box-lg-news img {
    border-radius: 24px;
    width: 100%;
    height: 100%; /* Đảm bảo chiều cao đầy đủ */
    object-fit: cover; /* Giữ tỷ lệ ảnh mà không bị méo */
}

.box-medium-news {
    width: 46%;
    display: flex;
    gap: 15px;

}
.group-box-more{
    flex: 1;
    margin-bottom: 10px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.item{
    position: relative;
}
.item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1;
    border-radius: 30px;
}
.box-medium-news .group-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.box-medium-news img {
    width: 100%;
    height: 200px; /* Chiều cao cố định */
    object-fit: cover; /* Giữ tỷ lệ ảnh */
    border-radius: 30px;
}

.textBox {
    width: 90%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.question {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    color: white;
}

.caption {
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 20px 0;
}

.groupContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}
.title-box{
    font-size: 13px;
    font-weight: 600;
    color: white;
}
.timeNews{
    margin: 0;
    color: white;
    font-size: 11px;
}
.timeRelease{
    color: white;
    font-size: 11px;
}
.groupTextG2{
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    position: absolute;
    z-index: 1;
}
.title-box{
    margin-bottom: 10px;
}

.group-box-more i{
    color: var(--primary-color);
}
.group-box-more h1{
    font-size: 18px;
    color: var(--primary-color);
    
}
.namePage{
    display: none;
    font-size: 48px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 700;
    text-align: center;
    color: var(--primary-color);
}
.boxNews{
    display: flex;
}
.boxNews img{
    width: 55%;
    height: auto;
    margin-right: 10px;
    object-fit: cover;
}
.groupContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.newHeader{
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}
span{
    display: inline-block;
}
.captionCenter{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: white;
}
.boxCenter{
    margin: 50px 0 !important;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin-top: 30px;
}
.pagination button, .dots {
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}


.pagination button.active {
    background: var(--primary-color);
    color: #0b1a2b;
}

.pagination button:hover {
    background: var(--primary-color);
    color: #0b1a2b;
}

.dots {
    color: white;
    width: auto;
    border: none;
    cursor: default;
    font-size: 25px;
    padding-top: 10px;
}
.pagination .prev,.pagination .next{
    border: none;
}
.boxHeader{
    margin-top: 50px !important;
}
@media screen and (max-width:1024px){
    .wrapBoxContent{
        display: none;
    }
    .boxNews img{
        height: auto;
    }
    .box-medium-news .group-box{
        width: 100%;
    }
    .boxHeader{
        margin-top: 150px !important;
    }
    .lastBox{
        display: none !important;
    }
    .boxNews{
        width: 75% !important;
        margin-top: 30px !important;
    }
    .boxCenter{
        margin-top: 0 !important;
    }
    .boxHeader, .boxCenter, .lastBox{
        display: flex;
        justify-content: center;
    }
    .newHeader{
        font-size: 17px;
    }
    .captionCenter{
        font-size: 15px;
        font-weight: 400;
    }
    .timeRelease{
        display: none;
    }
    .namePage{
        display: block;
    }
    .Box-item-news{
        width: 85%;
        border-radius: 10px;
    }
    .group-box.g2{
        display: none;
    }
    .box-lg-news{
        width: 50%;
    }
    .box-medium-news{
        width: 30%;
    }
    .group-box-more{
        margin-left: 20px;
    }
    .question{
        font-size: 14px;
        font-weight: 600;
    }
    .caption,.timeNews{
        font-size: 10px;
        font-weight: 500;
    }
    .caption{
        margin: 10px 0;
    }
    .item::before{
        border-radius: 10px;
    }
    .box-lg-news::before{
        border-radius: 10px;

    }
    .box-medium-news img{
        height: 139px;
        border-radius: 10px;
    }
    .group-box-more a{
        width: 100%;
    }
    .group-box-more h1{
        font-size: 10px;
        font-weight: 400;        
    }
    .groupTextG2 .title-box{
        font-size: 11px;
        font-weight: 600;
    }
    .box-lg-news img{
        border-radius: 10px;
    }
    .swiper-button-prev, .swiper-button-next {
      top: 50%;
      transform: translateY(-50%);
    }
    .swiper-button-prev{
        left: 0px !important;
      }
      .swiper-button-next{
        right: 0px !important;
      }


}
@media screen and (max-width:769px){
    .boxNews{
        width: 100% !important;
    }
  .groupTextG2 .title-box{
        font-size: 18px;
        font-weight: 600;
    }
 .Box-item-news{
    padding: 20px;
    width: 70%;
    flex-direction: column;
    border-radius: 30px;
 }
 .box-medium-news img{
    height: 200px;
    border-radius: 24px;
 }
 .box-lg-news{
    display: none;
 }
 .box-medium-news{
    width: 100%;
 }
 .group-box-more{
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
 }
 .group-box-more h1{
    font-size: 18px;
 }

 }